*~

.lein-failures
.lein-repl-history
dump.rdb
figwheel_server.log

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/out/
/resources/public/js/app.js
/resources/public/js/script.js
/src/clj/lawsuitninja/.#redis.clj
/src/clj/lawsuitninja/.#templates.clj
/src/clj/lawsuitninja/placesearch.clj
/src/cljs/lawsuitninja/.#calculator.cljs
/src/cljs/lawsuitninja/.#db.cljs
/src/cljs/lawsuitninja/.#extracode.cljs
/src/cljs/lawsuitninja/extracode.cljs
/src/cljs/lawsuitninja/.#homepage.cljs
/src/cljs/lawsuitninja/.#pikaday.cljs

/test/clj/lawsuitninja/test/.#redistest.clj

//out
/.repl
*.log
